body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://hip2save.com/wp-content/uploads/2019/09/double-gatorade.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    background-size: cover;
}
header {
    background-color: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 400%;
}
h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    padding-top: 60px;
    padding-bottom: 120px;
    width: 70%;
    margin: auto;
}