body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #231F20;
    line-height: 400%;
}
h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}