body {
background-color:#f3f1f0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    margin-top: 2%;
    padding-top: 1%;
    border: solid #0d6efd 1px;
}
header {
    background-color: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 400%;
}
h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}