
.image {
    width: 100%;
    margin-bottom: 30%;
}
header{
    background-color: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 400%;
}
body {
    background-color: #f3f1f0;
}
.col-10 {
    padding-top: 2%;
    background-color: white;
}
.quantity-number {
    width:40%
}
