body{
    background-color: white;
    margin: 0;
    padding: 0;
}
header{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 300%;
}